.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 60px;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

header{
    background: #fff;
    border: none;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 64px;
    top: 0;
    filter: drop-shadow(0 1px 4px rgba(70,75,80,.2));
}

.container-admin{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}