main{
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

#breadcrumb {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
}

#breadcrumb ol {
    display: block;
    margin: 0;
    padding: 0;
}

#breadcrumb ol>li {
    display: inline;
    font-size: 1rem;
}

#breadcrumb ol>li::after {
    content: "";
    display: inline-block;
    color: #333;
    margin: 0 10px;
    font-weight: 400;
    background: url(../../../images/right-chevron.png) center;
    width: 9px;
    height: 9px;
    opacity: 0.5;
    box-sizing: content-box;
}

form .section{
    margin: auto;
    background-color: #8080800d;
    border-radius: 10px;
    padding: 30px 30px 0px 30px;
    margin-bottom: 30px;
}

form .section .section-header {
    margin-bottom: 20px;
}

form .section .section-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

form .section .section-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

form .form-group {
    margin-bottom: 25px;
    position: relative;
}

form .control-label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: #000;
}

form .form-control {
    width: 100%;
    height: 45px !important;
    border: 0 !important;
    background-color: #e7f0fe !important;
    color: #007aff !important;
    padding: 0 20px 0 10px !important;
    border-radius: 5px !important;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

form .form-control:focus{
    color: #007aff;
}

form .control-label-1 {
    display: block;
    font-weight: 600;
    margin-bottom: -10px;
    font-size: 1.5rem;
    color: #000;
}

form .form-control-1 {
    width: 100% !important;
    height: 50px !important;
    border: 0 !important;
    background-color: #e7f0fe !important;
    color: #007aff;
    border-radius: 5px !important;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

form input{
    padding-left: 12px !important;
    font-weight: 600 !important;
    border: none !important;
    border-bottom: none !important; 
    box-shadow: none !important;
}

form input::placeholder
{
    color: #8a8a8aa1 !important;
}

form .select-province{
    padding: 0;
    margin: 0 auto;
    margin-top: 16px;
    list-style: none;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

form .select-province>li {
    color: rgb(0, 0, 0);
}

form textarea#title {
    height: 80px;
    padding: 15px;
}

.form-text {
    font-size: .9rem;
    margin-top: 7px;
}

form textarea.form-control {
    height: 300px;
    padding: 15px;
}

form textarea.form-control {
    min-height: 100px;
    padding: 15px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.input-group .input-group-append {
    margin-left: -2px;
}

.input-group-append {
    display: -ms-flexbox;
    display: flex;
    margin-left: -1px;
}

.input-group-text {
    background-color: #d7e7ff !important;
    border-color: #d7e7ff !important;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-text{
    width: 0px !important;
    margin: 0px !important;
}

body.dashboard.dang-tin .dropzone {
    padding: 0;
    border: 0;
}

.browse_photos {
    padding: 2rem;
    background: #e7f0fe;
    border: 2px dashed #ccc;
    text-align: center;
    border-radius: 8px;
}

.icon-upload-image {
    background: url(../../../images/upload-image.png) center no-repeat;
    display: block;
    background-size: contain;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
    pointer-events: none;
}

.dropzone .dz-message {
    margin: 2em 0 !important;
    text-align: center;
    cursor: pointer;
}

.dropzone.dz-clickable {
    cursor: pointer;
}


.file-input {
    width: 100px !important;
    height: 100px !important;
    opacity: 0;
}

.file-input:hover{
    background: #ccc;
}

.uploaded-img {
    height: 100px !important;
}

.file-uploader-mask {
    position: absolute;
    border-radius: 5px;
    width: 100px !important;
    height: 100px !important;
    border: 2px dashed #ccc;
}

.file-uploader-icon {
    width: 35px !important;
    height: 35px !important;

}

.dropzone-uploader-mask {
    width: 95%;
    position: absolute;
    border-radius: 5px;
    height: 200px !important;
    border: 2px dashed #ccc;
}

.dropzone-input {
    width: 100% !important;
    height: 200px !important;
    opacity: 0;
}

.text-primary {
    margin-left: 280px !important;
    margin-top: 10px !important;
    font-size: 30px !important;
}