.filter-province{
    width: 100% !important;
    position: relative !important;
    font-size: 18px;
}

.filter-province-select{
    position: absolute !important;
    width: 100% !important;
    color: white;
    background-color: #e7f0fe;
    border-radius: 5px;
}

.filter-province-select .react-select__control{
    width: 100% !important;
    align-items: center;
    background: none !important;
    border-style: none !important;
    cursor: default;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
    padding-left: 10px !important;
}

.filter-province-select .react-select__control:hover{
    border: none !important;
}

.filter-province-select .react-select__value-container{
    height: 50px !important;
    padding: 2px 0 !important;
}
.filter-province-select .react-select__indicator-separator{
    width: 0 !important;
}

.filter-province-select .react-select__menu{
    color: rgb(0, 0, 0) !important;
}

.filter-province-select .react-select__single-value{
    color: #007aff !important;
    font-weight: 700;
}

.filter-province-select .react-select__placeholder{
    color: #8a8a8aa1 !important;
    font-weight: 700;
}

.filter-province-select .react-select__indicator{
    color: #007aff !important;
}
 
.filter-province-select .react-select__menu{
    width: 100% !important;
    height: 250px !important;
}

.filter-province-select .react-select__menu-list{
    width: 100% !important;
    height: 250px !important;
    flex-wrap: nowrap;
    align-self: flex-start;
    text-align: left;
}

.filter-province-select .react-select__option{
    align-self: flex-start;
}

.filter-province-select .react-select__option:hover{
    background-color: #007aff !important;
    color: white !important;
}

.filter-district{
    width: 100% !important;
    position: relative !important;
    font-size: 18px;
}

.filter-district-select{
    position: absolute !important;
    width: 100% !important;
    color: white;
    background-color: #e7f0fe;
    border-radius: 5px;
}

.filter-district-select .react-select__control{
    width: 100% !important;
    align-items: center;
    background: none !important;
    border-style: none !important;
    cursor: default;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
    padding-left: 10px !important;
}

.filter-district-select .react-select__control:hover{
    border: none !important;
}

.filter-district-select .react-select__value-container{
    height: 50px !important;
    padding: 2px 0 !important;
}
.filter-district-select .react-select__indicator-separator{
    width: 0 !important;
}

.filter-district-select .react-select__menu{
    color: rgb(0, 0, 0) !important;
}

.filter-district-select .react-select__single-value{
    color: #007aff !important;
    font-weight: 700;
}

.filter-district-select .react-select__placeholder{
    color: #8a8a8aa1 !important;
    font-weight: 700;
}

.filter-district-select .react-select__indicator{
    color: #007aff !important;
}
 
.filter-district-select .react-select__menu{
    width: 100% !important;
    height: 250px !important;
}

.filter-district-select .react-select__menu-list{
    width: 100% !important;
    height: 250px !important;
    flex-wrap: nowrap;
    align-self: flex-start;
    text-align: left;
}

.filter-district-select .react-select__option{
    align-self: flex-start;
}

.filter-district-select .react-select__option:hover{
    background-color: #007aff !important;
    color: white !important;
}


.filter-ward{
    width: 100% !important;
    position: relative !important;
    font-size: 18px;
}

.filter-ward-select{
    position: absolute !important;
    width: 100% !important;
    color: white;
    background-color: #e7f0fe;
    border-radius: 5px;
}

.filter-ward-select .react-select__control{
    width: 100% !important;
    align-items: center;
    background: none !important;
    border-style: none !important;
    cursor: default;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
    padding-left: 10px !important;
}

.filter-ward-select .react-select__control:hover{
    border: none !important;
}

.filter-ward-select .react-select__value-container{
    height: 50px !important;
    padding: 2px 0 !important;
}
.filter-ward-select .react-select__indicator-separator{
    width: 0 !important;
}

.filter-ward-select .react-select__menu{
    color: rgb(0, 0, 0) !important;
}

.filter-ward-select .react-select__single-value{
    color: #007aff !important;
    font-weight: 700;
}

.filter-ward-select .react-select__placeholder{
    color: #8a8a8aa1 !important;
    font-weight: 700;
}

.filter-ward-select .react-select__indicator{
    color: #007aff !important;
}
 
.filter-ward-select .react-select__menu{
    width: 100% !important;
    height: 250px !important;
}

.filter-ward-select .react-select__menu-list{
    width: 100% !important;
    height: 250px !important;
    flex-wrap: nowrap;
    align-self: flex-start;
    text-align: left;
}

.filter-ward-select .react-select__option{
    align-self: flex-start;
}

.filter-ward-select .react-select__option:hover{
    background-color: #007aff !important;
    color: white !important;
}

