.sidebar {
	flex: 1;
	height: calc(100vh - 50px);
	background-color: rgb(251, 251, 255);
	position: sticky;
	top: 50px;
}

.sidebarWrapper {
	padding: 20px;
	color: rgb(0, 0, 0);
}

.sidebarMenu {
	margin-bottom: 10px;
}

.sidebarTitle {
	font-size: 30px;
	color: rgb(63 63 63 / 69%);
}

.sidebarList {
	list-style: none;
	padding: 5px;
}

.sidebarListItem {
	padding: 5px 5px 15px 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
	font-size: 21px;
  font-weight: 500;
}

.sidebarListItem.active,
.sidebarListItem:hover {
	background-color: rgb(240, 240, 255);
}

.sidebarIcon {
	margin-right: 5px;
	font-size: 30px !important;
}
