.postList{
    flex: 4;
}

.postListItem{
    display: flex;
    align-items: center;
}

.postListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.postAccept{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.postDelete{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.postList.loader{
    justify-items: auto;
}